In [1]:
from UnivariateAnalyser import UnivariateAnalyser
# Usage
file_path = "Placement.csv"
analyzer = UnivariateAnalyser(file_path)

In [2]:
original_dataset = analyzer.original_dataset

print("original_dataset:", original_dataset)

original_dataset:      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5      M  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]

In [3]:
quantitative, qualitative = analyzer.categorize_columns()

print("Quantitative Columns:", quantitative)
print("Qualitative Columns:", qualitative)

Quantitative Columns: ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Qualitative Columns: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [4]:
stats_df = analyzer.calculate_statistics()

stats_df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
LesserOutlier,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
GreaterOutlier,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0
Skew,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
Kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273

In [5]:
outliers = analyzer.get_outliers()

print(outliers)

{'lesser_outliers': ['hsc_p'], 'greater_outliers': ['hsc_p', 'degree_p', 'salary']}

In [6]:
analyzer.replace_outliers()

In [7]:
replace_outliers = analyzer.replace_outliers()

print("replaced_dataset:", analyzer.replaced_dataset)

replaced_dataset:      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0      1.0      M  67.00   Others  91.00   Others  Commerce     58.00
1      2.0      M  79.33  Central  78.33   Others   Science     77.48
2      3.0      M  65.00  Central  68.00  Central      Arts     64.00
3      4.0      M  56.00  Central  52.00  Central   Science     52.00
4      5.0      M  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210  211.0      M  80.60   Others  82.00   Others  Commerce     77.60
211  212.0      M  58.00   Others  60.00   Others   Science     72.00
212  213.0      M  67.00   Others  67.00   Others  Commerce     73.00
213  214.0      F  74.00   Others  66.00   Others  Commerce     58.00
214  215.0      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  390000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  390000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]

In [8]:
compare_datasets = analyzer.compare_datasets()

compare_datasets

,Column,Original Lesser Outliers Count,Original Greater Outliers Count,Replaced Lesser Outliers Count,Replaced Greater Outliers Count,Original Lesser Outliers,Original Greater Outliers,Replaced Lesser Outliers,Replaced Greater Outliers,Original Min,Original Max,Replaced Min,Replaced Max
0,sl_no,0,0,0,0,[],[],[],[],1.00,215.00,1.00,215.00
1,ssc_p,0,0,0,0,[],[],[],[],40.89,89.40,40.89,89.40
2,hsc_p,5,3,0,0,"[39.0, 37.0, 40.0, 42.16, 42.0]","[97.7, 92.0, 97.0]",[],[],37.00,97.70,42.75,91.15
3,degree_p,0,1,0,0,[],[91.0],[],[],50.00,91.00,50.00,88.50
4,etest_p,0,0,0,0,[],[],[],[],50.00,98.00,50.00,98.00
5,mba_p,0,0,0,0,[],[],[],[],51.21,77.89,51.21,77.89
6,salary,0,15,0,0,[],"[425000.0, 393000.0, 411000.0, 450000.0, 50000...",[],[],200000.00,940000.00,200000.00,390000.00

In [9]:

frequency_tables = analyzer.frequency_analysis_all_quantitative()

frequency_tables

{'sl_no':        Frequency  Relative Frequency  Cumulative Frequency
 sl_no
 1              1            0.004651              0.004651
 2              1            0.004651              0.009302
 3              1            0.004651              0.013953
 4              1            0.004651              0.018605
 5              1            0.004651              0.023256
 ...          ...                 ...                   ...
 211            1            0.004651              0.981395
 212            1            0.004651              0.986047
 213            1            0.004651              0.990698
 214            1            0.004651              0.995349
 215            1            0.004651              1.000000

 [215 rows x 3 columns],
 'ssc_p':        Frequency  Relative Frequency  Cumulative Frequency
 ssc_p
 62.00         11            0.051163              0.051163
 63.00         10            0.046512              0.097674
 67.00          9            0.041860              0.139535
 73.00          9            0.041860              0.181395
 52.00          9            0.041860              0.223256
 ...          ...                 ...                   ...
 55.68          1            0.004651              0.981395
 41.00          1            0.004651              0.986047
 83.33          1            0.004651              0.990698
 43.00          1            0.004651              0.995349
 80.60          1            0.004651              1.000000

 [103 rows x 3 columns],
 'hsc_p':        Frequency  Relative Frequency  Cumulative Frequency
 hsc_p
 63.00         14            0.065116              0.065116
 62.00         12            0.055814              0.120930
 60.00          9            0.041860              0.162791
 67.00          9            0.041860              0.204651
 64.00          8            0.037209              0.241860
 ...          ...                 ...                   ...
 77.60          1            0.004651              0.981395
 70.20          1            0.004651              0.986047
 61.40          1            0.004651              0.990698
 61.33          1            0.004651              0.995349
 42.00          1            0.004651              1.000000

 [97 rows x 3 columns],
 'degree_p':           Frequency  Relative Frequency  Cumulative Frequency
 degree_p
 65.00            20            0.093023              0.093023
 66.00            13            0.060465              0.153488
 72.00            12            0.055814              0.209302
 64.00            11            0.051163              0.260465
 58.00             9            0.041860              0.302326
 ...             ...                 ...                   ...
 64.80             1            0.004651              0.981395
 56.30             1            0.004651              0.986047
 91.00             1            0.004651              0.990698
 56.87             1            0.004651              0.995349
 77.60             1            0.004651              1.000000

 [89 rows x 3 columns],
 'etest_p':          Frequency  Relative Frequency  Cumulative Frequency
 etest_p
 60.00           14            0.065116              0.065116
 80.00            8            0.037209              0.102326
 67.00            7            0.032558              0.134884
 75.00            7            0.032558              0.167442
 89.00            6            0.027907              0.195349
 ...            ...                 ...                   ...
 87.55            1            0.004651              0.981395
 61.28            1            0.004651              0.986047
 88.56            1            0.004651              0.990698
 92.66            1            0.004651              0.995349
 91.00            1            0.004651              1.000000

 [100 rows x 3 columns],
 'mba_p':        Frequency  Relative Frequency  Cumulative Frequency
 mba_p
 56.70          3            0.013953              0.013953
 62.48          2            0.009302              0.023256
 64.15          2            0.009302              0.032558
 64.08          2            0.009302              0.041860
 61.29          2            0.009302              0.051163
 ...          ...                 ...                   ...
 74.49          1            0.004651              0.981395
 53.62          1            0.004651              0.986047
 69.72          1            0.004651              0.990698
 60.23          1            0.004651              0.995349
 60.22          1            0.004651              1.000000

 [205 rows x 3 columns],
 'salary':           Frequency  Relative Frequency  Cumulative Frequency
 salary
 300000.0         22            0.102326              0.102326
 250000.0         18            0.083721              0.186047
 240000.0         15            0.069767              0.255814
 260000.0          7            0.032558              0.288372
 200000.0          6            0.027907              0.316279
 265000.0          6            0.027907              0.344186
 360000.0          6            0.027907              0.372093
 220000.0          5            0.023256              0.395349
 275000.0          5            0.023256              0.418605
 400000.0          4            0.018605              0.437209
 270000.0          4            0.018605              0.455814
 210000.0          4            0.018605              0.474419
 216000.0          3            0.013953              0.488372
 500000.0          3            0.013953              0.502326
 350000.0          3            0.013953              0.516279
 230000.0          2            0.009302              0.525581
 276000.0          2            0.009302              0.534884
 252000.0          2            0.009302              0.544186
 236000.0          2            0.009302              0.553488
 280000.0          2            0.009302              0.562791
 218000.0          2            0.009302              0.572093
 204000.0          2            0.009302              0.581395
 393000.0          1            0.004651              0.586047
 425000.0          1            0.004651              0.590698
 231000.0          1            0.004651              0.595349
 278000.0          1            0.004651              0.600000
 450000.0          1            0.004651              0.604651
 411000.0          1            0.004651              0.609302
 320000.0          1            0.004651              0.613953
 336000.0          1            0.004651              0.618605
 268000.0          1            0.004651              0.623256
 287000.0          1            0.004651              0.627907
 420000.0          1            0.004651              0.632558
 380000.0          1            0.004651              0.637209
 940000.0          1            0.004651              0.641860
 225000.0          1            0.004651              0.646512
 233000.0          1            0.004651              0.651163
 690000.0          1            0.004651              0.655814
 340000.0          1            0.004651              0.660465
 255000.0          1            0.004651              0.665116
 285000.0          1            0.004651              0.669767
 290000.0          1            0.004651              0.674419
 650000.0          1            0.004651              0.679070
 264000.0          1            0.004651              0.683721
 295000.0          1            0.004651              0.688372}