In [38]:
from UnivariateAnalyser import UnivariateAnalyser
# Usage
file_path = "Placement.csv"
analyzer = UnivariateAnalyser(file_path)
quantitative, qualitative = analyzer.categorize_columns()

print("Quantitative Columns:", quantitative)
print("Qualitative Columns:", qualitative)


stats_df = analyzer.calculate_statistics()

stats_df

Quantitative Columns: ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Qualitative Columns: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

                   Mean    Median      Mode
sl_no        108.000000     108.0       1.0
ssc_p         67.303395      67.0      62.0
hsc_p         66.333163      65.0      63.0
degree_p      66.370186      66.0      65.0
etest_p       72.100558      71.0      60.0
mba_p         62.278186      62.0      56.7
salary    288655.405405  265000.0  300000.0